<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container"></div>
   <div class="row">
   <div class="col col-sm-6">
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aliquam soluta quia, ad omnis exercitationem in quaerat eius explicabo, labore nihil delectus vero dolor nostrum aut. Odit dolore nisi unde.
    </div>
  
   <div class="col col-sm-6">
       Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi ea aut minus! Quibusdam vero perferendis necessitatibus doloremque ea laboriosam molestias, molestiae iusto cum autem earum tenetur, corporis minima cumque ad?
   </div>  </div>
</body>
</html>