<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  <h1><center><B><T>SNIT COLLEGE</T></B></center></h1> 
  <h1>HOME</h1> 
  <table class="table">
  
  
      
<tr><td>USERNAME</td><td><input type="text"></td></tr>
<tr><td>PASSWORD</td><td><input type="text"></td></tr>
<tr><td><input type="submit" name="submit" class="btn btn-success"</td></tr>
<span class="border border-primary"></span>
<p class="text-success">.HOME</p>


  </table>
</body>
</html>